.register-container {
    background-image: url('../assets/wregister.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image {
    background-image: url('../assets/lcongelados.png');
    background-size: cover;
    background-position: center;
    height: 100%;
}